* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playfair-italic;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  background-image: url(../img/Background2b.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.father {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75vw;
  margin-top: 50px;
  padding-bottom: 60px;
  box-shadow: 0px 0px 7px 0px;
}

.div-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  width: 50vw;
  margin-bottom: 50px;
}

.logo {
  max-width: 400px;
  min-width: 200px;
  height: 100px;
  object-fit: contain;
}

.sections {
  display: flex;
  justify-content: center;
  gap: 7em;
  flex-wrap: wrap;
}

.child {
  background: rgb(33, 32, 32);
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 15px;
  flex-direction: column;
  height: 350px;
  transition: 0.3s;
}
.info-div .explorar {
  opacity: 0;
  transition: 0.2s;
  margin-top: -20px;
}

.img-section {
  height: 100%;
  width: 200px;
  object-fit: contain;
  transition: 0.2s;
  display: block;
  overflow: hidden;
}

.info-div {
  background: blanchedalmond;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
}

.child:hover .img-section {
  transform: scale(0.9);
}
.child:hover > .info-div > .explorar {
  opacity: 1;
  margin-top: 5px;
}

.child:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px;
}

@font-face {
  font-family: Playfair-italic;
  src: url(../fonts/Playfair/static/PlayfairDisplay-SemiBoldItalic.ttf);
}
